<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Game</title>
  </head>
  <body>
    <h1>Welcome to the Game!</h1>
    <button id="startButton">Start Game</button>

    <script>
      document
        .getElementById("startButton")
        .addEventListener("click", function () {
          fetch("/start_game")
            .then((response) => response.text())
            .then((data) => {
              console.log(data); // عرض رسالة "Game Started!" في الكونسول
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
